/**********************************************************
 * s16/source/scss/pre/_colors.scss
 */

    $fg-default:        rgba(24, 220, 120, 1);
    $bg-default:        rgba(0, 0, 0, 1);
    
    $fg-link:           $fg-default;
    $fg-hover:          rgba(255, 255, 255, 1);
    $fg-visited:        rgba(16, 160, 80, 1);