/**********************************************************
 * s16/source/scss/style/_terminal.scss
 */

    .terminal
    {
        position: relative;

        top: 2px;
        left: 2px;
        width: calc(100% - 4px);
        height: calc(100% - 4px);

        border: solid 1px $fg-hover;
    }

        .cell
        {
            position: absolute;

            font-family: $vt323;
        }
